@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 200ms;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: #1c1c1e;
	color: #ffffff;
}

img {
	max-width:100%;
	height: auto;
}

img.logo {
	margin-top: -1rem;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear:both;
}

/* Columns */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

/*[class^=col-]:first-child {
	margin-top: 0;
}*/

.col-footer {
		margin-top: 1em;
		text-align: center;
}

.col-header span {
	display: none;
}

@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-services {
		margin-top: 1em;
		width: 33.333334%;
		float: left;
	}

	.col-header {
		margin-top: 1em;
		width: 33.333334%;
		float: left;
	}

	.col-header span {
		display: block;
	}

	.col-footer {
		margin-top: 1em;
		width: 33.333334%;
		text-align: center;
	}
}

/* Typography */

h1 {
	font-weight: 700;
	font-size: 1.7rem;
	margin-top: 0;
	padding-bottom: .5em;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: none;
	font-size: .6em;
}

.title-cta {
	margin: 0 0 .5em
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}

	.title span {
		font-weight: 300;
		display: block;
		font-size: .6em;
	}
	.team-p {
		font-size: 1rem;
	}
}

/* Font Awesome Icons */

.fa {
	padding: .5em;
    text-align: center;
    text-decoration: none !important;
}

/* Buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px){
	.button-dark {
		width:30%;
		font-size:14px;
		padding: 0;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color:#ffffff;
	background-color: #cf010c;
}

.button-accent:hover,
.button-accent:focus
{
	background:#ffffff;
	color:#cf010c;
	text-decoration: none;
}

.button-dark {
	color:#cf010c;
	background-color: #ffffff;
}

.button-dark:hover,
.button-dark:focus
{
	background-color: transparent;
	color:#ffffff;
	border: 1px solid #ffffff;
	text-decoration: none;
}

/* Parallax */

.parallax--bg,
.parallax--box {
	transition: initial;
}

/* Header */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	padding:0;
}

nav li {
	display: inline;
	margin: .10em .1em;
	text-align:center;
}

nav a {
	font-weight: 900;
	text-decoration: none !important;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color:#333333;
	line-height: 1em;
}

.logo {
	max-width: 10em;
}

nav a:hover,
nav a:focus {
	color:#cf010c;
}

/*Responsive navbar*/

.topnav a {display: none;}
.topnav a.icon {
    float: right;
    display: block;
  }

.topnav.responsive {
	position: relative; 
	background: #ffffff;
	border: 1px solid #cf010c;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .mobilenav{
	background-color: #1c1c1e;
  }

/* End Responsive navbar*/

@media (min-width: 60rem) {
	.logo {
		max-width: 10em;
	}

	nav {
		background-color: #ffffff2e;
	}

	nav ul {
		margin-top: 8%;
	}

	nav li {
		display:inline-block;
		margin: 1em;
	}

	.topnav {
		background: #ffffff;
		border-radius: 20px;
	}

	.topnav a {display: block;}

	.mobilenav a.icon {
		display: none;
	}

	nav a {
		font-weight: 900;
		text-decoration: none !important;
		text-transform: uppercase;
		font-size: .8rem;
		padding: .5em;
		color:#333333;
	}
}

/* Home-Hero */

.home-hero {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(../img/main-image-2.jpg);
	background-size: cover;
	background-position: center;
	padding:10em 0;
	color: #fff;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}

}

/* Portfolio */

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
}

.port-description {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0, .6);
	padding-bottom: 1em;
}

.port-description p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float:left;

	}
}

@media (min-width: 60rem) {

	.portfolio {
		margin: 5em 0 0;
	}

	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-description {
		transform: translateY(150%);
	}

	.port-item:hover .port-description {
		transform: translateY(0%);
	}
}

/* Twocol, very similar to Portfolio section, might be able to shrink this */

.twocol {
	margin: 0;
}

.twocol-item {
	margin: 0;
	position: relative;
}

.twocol-item img {
	display: block;
}

.twocol-description {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0, .6);
	padding-bottom: 1em;
	
}

.twocol-description p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.twocol-item {
		width: 50%;
		float:left;

	}
}

@media (min-width: 60rem) {

	.twocol {
		margin: 0;
	}

	.twocol-item {
		width: 50%;
		overflow: hidden;
	}

	.twocol-description {
		transform: translateY(150%);
	}

	.twocol-item:hover .twocol-description {
		transform: translateY(0%);
	}
}


/* Contact Form */

.cta {
	background-color: #cf010c;
	padding: 5em 0;
	color: #ffffff;
}

input[type=text], textarea{
	margin: .5em;
	padding: 1em;
	width: 50%;
	border: none;
}

@media(max-width: 768px){
	input[type=text], textarea{
		margin: .3em;
		padding: 1em;
		width: 80%;
		border: none;
	}
	textarea{
		height:8em;
	}
}

/* Footer */

footer {
	background: #1c1c1e;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}

/*--------------------------*/

/* Meet The Team*/

.our-team{
    text-align: center;
    transition: all 0.5s ease 0s;
}
.our-team:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 79.61%;
    background: rgba(38,37,37,0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: rgba(38,37,37,0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 15%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}

.our-team .social p {
	color:#fff;
}

.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #cf010c;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover:after{ transform: rotate(180deg); }
.our-team .team-content{ padding: 20px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.our-team .post{
    display: block;
    font-size: 17px;
    font-weight: 600;

    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


/*Carousel Slider*/


.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

/* Collapse Toggles */

.btn-link{
	color: #fff;
	text-decoration:none;
	font-weight: 600;
}

.btn-link:hover, .btn-link:focus {
	color: #cf010c;
	text-decoration:none;
}

.card {
	background-color:#000;
	border: 0.5px solid #cf010c;

}

/* Image Comparison */

.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
